.layout{
    width: 100%;
    height:100%;
    .header{
        height: 10%;
        font-family: cursive;
        font-size: 5rem;
        display: flex;
        align-items: center;
        justify-items: center;
    }
    .main-content{
        height: 90%;
        margin: 0 auto;
        overflow-y: auto;
    }
    .main-content-pc{
        width: 70%;
    }
    .main-content-mobile{
        width: 100%;
    }
}